circle:hover {
    fill: rgb(40, 163, 61);
  } 
  html {
    font-family: "Courier New", monospace;
    background-color: rgb(244, 229, 251);
  }

  #intro {
    background-color:rgb(229, 249, 255);
    border: solid;
    padding-left: 2%;
    padding-right: 2%;
  }

  #annotation-intro {
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  #nav_button {
    text-align: center;
    padding-top: 2%;
  }
  button {
    background-color:rgb(233, 255, 249);
  }
  button:focus {     
    background-color:rgb(40, 163, 61);    
  }
  button:hover{background-color:orange;}

  svg {
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  
  #my_tooltip {
    opacity: 0;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    position: absolute; 
  }
  
  circle {
    fill: rgb(196, 241, 255);
    stroke: black;
    opacity: 0.5;
    transition: r 0.3s ease;
    
  }