circle:hover {
    fill: rgb(40, 163, 61);
  } 
  html {
    font-family: "Courier New", monospace;
    background-color: rgb(253, 254, 238);
  }
  
  h1 {
    text-align: center;
  }
  
  #nav_button {
    text-align: center;
  }
  button {
    background-color:rgb(210, 210, 210);
  }
  button:focus {     
    background-color:rgb(40, 163, 61);    
  }
  button:hover{background-color:orange;}

  svg {
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  
  #my_tooltip {
    opacity: 0;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 5px;
    position: absolute; 
  }
  
  circle {
    fill: rgb(196, 241, 255);
    stroke: black;
    opacity: 0.5;
    transition: r 0.3s ease;
    
  }